<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <div class="app-shell">
    <header class="app-header">
      <div class="brand">
        <div class="brand-mark"></div>
        <div>
          <div class="brand-name">BlueMind</div>
          <div class="brand-version">v5</div>
        </div>
      </div>
      <% if (currentUser) { %>
        <form class="logout-form" action="/logout" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button class="link-button" type="submit">Sign out</button>
        </form>
      <% } %>
    </header>
    <main class="app-content">
