<% layout('layout') -%>

<section class="panel">
  <h1 class="panel__title"><%= title %></h1>
  <div class="alert" role="alert"><%= message %></div>

  <div class="panel__actions panel__actions--spaced">
    <a class="linkbtn" href="/">Home</a>
  </div>
</section>
