<%- include('partials/header') %>

  <div class="card login">
    <h1>Identification</h1>
    <% if (errors.length) { %>
      <ul class="errors">
        <% errors.forEach(e => { %>
          <li><%= e.msg %></li>
        <% }) %>
      </ul>
    <% } %>
    <form action="/login" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label>Email</label>
      <input type="email" name="email" required />
      <label>Password</label>
      <input type="password" name="password" required />
      <button class="btn">Connect</button>
    </form>
    <p>Or <a href="/register">create an account</a></p>
  </div>

<%- include('partials/footer') %>