<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BlueMind v5 - Messages</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <header id="header">
    <div id="logo">
      <div class="hexagon"></div>
      BlueMind
    </div>
  </header>
  <div class="login-panel">
    <h1>Messages</h1>
    <p>Welcome to your secure messaging system.</p>
    <p>Messages from other users will appear here.</p>
  </div>
</body>
</html>