<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlueMind Reference &mdash; Error</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="app-shell">
  <main class="error-container">
    <h1>Something went wrong</h1>
    <p><%= message %></p>
    <a href="/" class="primary-button">Back to safety</a>
  </main>
</body>
</html>
