<%- include('partials/head', { title: 'Error', bodyClass: 'error-page' }) %>
  <section class="error">
    <h1>Something went wrong</h1>
    <p><%= message %></p>
    <a class="btn-secondary" href="/">Return home</a>
  </section>
<%- include('partials/footer') %>
